<div class="container" id="edit_container"> 

<h1> Edit Article </h1>

<%= render 'form' %>

   <div class="back">
        <div> 
        <%= link_to 'Back', articles_path %> 
        </div>
     </div>

</div>