<div class="container" id="create_container"> 

    <h1> Create a new article </h1>

    <div>
     <%= render 'form' %>
    </div>

    <div class="back">
        <div> 
        <%= link_to 'Back', articles_path %> 
        </div>
     </div>

</div>